################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/PwTresor/v16
/Pw.Logik/obj/Debug
/Pw.Ui/obj/Debug
/Pw.Logik/bin/Debug
/Pw.Ui/bin/Debug
/Pw.Logik/bin/Release
/Pw.Ui/bin/Release
/Pw.Logik/obj/Release
/Pw.Ui/obj/Release
/.vs/PWTresorRaspatory/v17
/.vs/ProjectSettings.json
/.vs/PwTresor/project-colors.json
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
