################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/PwTresor/v16
/Pw.Logik/obj/Debug
/Pw.Ui/obj/Debug
/Pw.Logik/bin/Debug
/Pw.Ui/bin/Debug
