<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Logik.Pw.Logik.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.6.0" newVersion="2.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Logik.Pw.Logik.Properties.Settings>
      <setting name="PfadZielOrdner" serializeAs="String">
        <value>C:\Passwortverwahrer\</value>
      </setting>
      <setting name="PfadImportOrdner" serializeAs="String">
        <value>C:\Passwortverwahrer\</value>
      </setting>
      <setting name="PfadSyncOrdner" serializeAs="String">
        <value>C:\Passwortverwahrer\</value>
      </setting>
      <setting name="PWLange" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="PWSonderBool" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PWZahlBool" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PWGrossBool" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PWMinGross" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PWMinSonder" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PWMinZahl" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="AktuellerSkin" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="HauptFensterBreite" serializeAs="String">
        <value>525</value>
      </setting>
      <setting name="HauptFensterHohe" serializeAs="String">
        <value>450</value>
      </setting>
      <setting name="SternSymbol" serializeAs="String">
        <value>1</value>
      </setting>
    </Logik.Pw.Logik.Properties.Settings>
  </userSettings>
</configuration>